<% layout("/layouts/boilerplate.ejs") %>

<body>
    <h1>signup</h1>
    <div class="new-form">
    <form action="/signup" method="POST">
        <input name="username" placeholder="username" type="text" class="marginBottom" required>
        <br>
        <input name="email" placeholder="email" class="marginBottom" type="email">
        <br>
        <input name="password" placeholder="password" type="password" class="marginBottom" required>
        <br>
         <button>Submit</button>
    </form>
</div>
</body>