<% layout("/layouts/boilerplate.ejs") %>
<body>
    <form action="/products/<%= product.id %>?_method=PUT" method="POST" enctype="multipart/form-data">
        <input name="product[title]" value="<%= product.title %>" type="text" required>
        <br>
        <textarea name="product[description]" required><%= product.description %></textarea>
        <br>
        <input name="product[image]" type="file">
        <br>
        <input name="product[price]" value="<%= product.price %>" type="number" required>
        <br>
         <input type="radio" id="grooming" name="product[category]" value="grooming" required>Grooming
         <input type="radio" id="electronics" name="product[category]" value="electronics" required>electronics
         <input type="radio" id="food" name="product[category]" value="food" required>Food
         <br>
         <button>Edit</button>
    </form>
</body>